# Calculator

In [1]:
def add(n1, n2):
    return n1 + n2

In [2]:
def sub(n1, n2):
    return n1 - n2

In [3]:
def mult(n1, n2):
    return n1 * n2

In [4]:
def div(n1, n2):
    return n1 // n2

In [6]:
while True:
    print("Select operation - \n", 
         "1. Add\n" ,
         "2. Subtract\n" ,
         "3. Multiply\n" ,
         "4. Divide\n")
    #Take input from the user
    select = input("Select operations form 1,2,3,4:")
    
    n1 = int(input("Enter First Number"))
    n2 = int(input("Enter second Number"))
    
    if select == '1':
        print(n1, "+", n2, "=", add(n1,n2))
    elif select == '2':
        print(n1, "-", n2, "=", sub(n1,n2))
    elif select == '3':
        print(n1, "x", n2, "=", mult(n1,n2))
    elif select == '4':
        print(n1, "/", n2, "=", div(n1,n2))
    else:
        print("invalid input")
    if select =='q':
        break

Select operation -
 1. Add
 2. Subtract
 3. Multiply
 4. Divide

Select operations form 1,2,3,4:1
Enter First Number24
Enter second Number24
24 + 24 = 48
Select operation -
 1. Add
 2. Subtract
 3. Multiply
 4. Divide

Select operations form 1,2,3,4:2
Enter First Number24
Enter second Number24
24 - 24 = 0
Select operation -
 1. Add
 2. Subtract
 3. Multiply
 4. Divide

Select operations form 1,2,3,4:3
Enter First Number24
Enter second Number24
24 x 24 = 576
Select operation -
 1. Add
 2. Subtract
 3. Multiply
 4. Divide

Select operations form 1,2,3,4:4
Enter First Number24
Enter second Number24
24 / 24 = 1
Select operation -
 1. Add
 2. Subtract
 3. Multiply
 4. Divide

Select operations form 1,2,3,4:10
Enter First Number1
Enter second Number2
invalid input
Select operation -
 1. Add
 2. Subtract
 3. Multiply
 4. Divide

Select operations form 1,2,3,4:q
Enter First Number1
Enter second Number1
invalid input